<form method="POST" action="/new">
  <h2>New Message</h2>
  <div>
    <label for="user">User</label>
    <input type="text" name="user" id="user" />
  </div>
  <div>
    <label for="message">Message</label>
    <input type="text" name="message" id="message" />
  </div>
  <button type="submit">Send</button>
</form>
